[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/lf-releng
	owner = group saml/oran-gerrit-ci-management-committers
	read = group GitHub Replication
[project]
	description = CI control repository
[submit-requirement "Code-Review"]
	description = A maximum 'Code-Review' vote from a non-uploader is required for the 'Code-Review' label. A minimum vote is blocking.
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	canOverrideInChildProjects = false
[submit-requirement "Verified"]
       description = A maximum 'Verified' vote from 'ORAN Required GHA' and one other CI or committer that is a non-uploader is required for the 'Verified' label. A minimum vote is blocking.
       submittableIf = label:Verified=MAX,user=oran.required.gha AND label:Verified=MAX,count>=2 AND label:Verified=MAX,user=non_uploader AND -label:Verified=MIN
	   canOverrideInChildProjects = false
