[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/lf-releng
	owner = group ldap/oran-gerrit-ci-management-committers
	owner = group saml/lf-releng
	owner = group saml/oran-gerrit-ci-management-committers
	read = group GitHub Replication
[project]
	description = CI control repository
