[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/lf-releng
	owner = group saml/oran-gerrit-ci-management-committers
	read = group GitHub Replication
[project]
	description = CI control repository
[submit-requirement "Code-Review"]
	description = A maximum 'Code-Review' vote from a non-uploader is required for the 'Code-Review' label. A minimum vote is blocking.
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	canOverrideInChildProjects = false
